<%= form_for(obj) do |f| %>
  <%= f.label :starting_at %>
  <%= f.datetime_select :starting_at, default: Time.zone.now.beginning_of_year, ampm: true, discard_minute: true %>
  <br>
  <%= f.label :ending_at %>
  <%= f.datetime_select :ending_at, default: Time.zone.now.beginning_of_year, ampm: true, discard_minute: true %>
  <br>
  <%= f.submit %>
<% end %>

<% if obj.errors.present? %>
  <h2>Errors</h2>
  <% @fetch.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>