<p id="notice"><%= notice %></p>

<p>
  <strong>Starting at:</strong>
  <%= @report.starting_at %><br>
  <strong>Ending at:</strong>
  <%= @report.ending_at %>
</p>

<p><%= column_chart @event_counts_name[0..9] %></p>
<br>

<% @event_counts_name[0..9].each_with_index do |event, index| %>
  <%= index+1 %>. <%= event[0] %> | <%= event[1] %>  <br>
<% end %>
<br>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %> |
<%= link_to 'event_counts_name_and_url', report_chart_path(@report) %>
<br>
<br>

<table id="table_id" class="display">
  <caption><%= pluralize(@reports_push_events.count, 'event') %></caption>
  <thead>
    <tr>
      <th>Type</th>
      <th>Time created</th>
      <th>Name</th>
      <th>Url</th>
    </tr>
  </thead>

  <tbody>
    <% @reports_push_events.each do |event| %>
      <tr>
        <td><%= event.the_type %></td>
        <td width="20%"><%= event.time_created %></td>
        <td><%= event.repo_name %></td>
        <td><%= event.repo_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
